*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor{
    max-width: 80vw;
}

.galeria{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}

.galeria-card{
    width: 400px;
    cursor: pointer;
    padding: 1rem;
   
}
.galeria-img{
    width: 90%;
}

.display-img{
    width: 70%;
    border-radius: 10px;
}
.displayOff{
    display: none;
}
.displayOn{
    position: fixed;
    background-color: rgba(69, 72, 72, 0.56);
    width: 100vw;
    height: 100vh;
    top:0;
    left:0;
    display:flex;
    justify-content: center;
    align-items: center;
   
}
#close{
    cursor: pointer;
}